search-league
  display: block
  @include clearfix()
  margin-bottom: 4em

.search-league
  text-align: center

  fieldset
    border: none

.search-league__input-wrapper
  position: relative
  width: 300px
  margin: 0 auto
  z-index: 20

  @include bp-767()
    width: 242px

  input
    width: 278px
    border: 1px $color-global-darkliver solid
    @include css3-prefix('border-radius', 0)
    @include font-size(14)
    line-height: 1em
    color: $color-global-black
    padding: .3em 10px
    @include css3-prefix('appearance', 'none')

    @include bp-1024-landscape()
      @include font-size(10)
      padding: 5px 10px

    @include bp-767()
      @include font-size(10)
      padding: 5px 10px
      width: 220px

    &:focus
      color: $color-global-black

.search-league__hints
  position: absolute
  width: 100%
  max-width: 300px
  top: 43px
  background: $color-global-white
  max-height: 100px
  overflow: hidden
  overflow-y: auto
  border-bottom: 1px $color-global-darkliver solid

  @include bp-1024-landscape()
    top: 31px

  @include bp-767()
    max-width: 242px
    top: 31px

  &:empty
    display: none
    border: none

  li
    text-align: left

    a
      display: block
      @include font-size(8)
      line-height: 25px
      padding: 0 10px
      color: $color-global-violetblue
      text-decoration: none
      @include transition(color .5s $transition-easing-easeInOutCirc, background-color .5s $transition-easing-easeInOutCirc)
      cursor: pointer
      border: 1px $color-global-darkliver solid
      border-top: none
      border-bottom: none

      &:hover
        text-decoration: none
        color: $color-global-black
        background: $color-global-lightliver

    &:nth-child(odd)
      background: $color-global-light-violetblue

    &:empty
      display: none