.all-teams-standing__wrapper
  @include css3-prefix('display', 'flex')
  @include css3-prefix('flex-direction', 'row')
  @include css3-prefix('flex-wrap', 'wrap')

  @include bp-767()
    @include css3-prefix('flex-direction', 'column')
    @include css3-prefix('flex-wrap', 'nowrap')

.all-teams-standing__body
  @include css3-prefix('flex', '0 0 30%')
  padding: 0 1.5%

  @include bp-1023()
    @include css3-prefix('flex', '0 0 47%')

  @include bp-767()
    @include css3-prefix('flex', '0 0 100%')

  &:empty
    display: none

  teams-standing
   @include clearfix()
   display: block

/* TABLE */
.teams-standing__table
  padding: 0 1.5%
  margin: 0 0 1em

  h3
    @include font-size(10)
    margin: 0 0 1em

    a
      display: block
      color: $color-global-violetblue
      text-decoration: none
      @include transition(color .5s $transition-easing-easeInOutCirc)
      cursor: pointer

      &:hover,
      &.active
        text-decoration: none
        color: $color-global-black
      &.active
        cursor: default

/* HEADER */
.teams-standing__header
  padding: .5em 0
  background: $color-global-violetblue

  ul
    display: block
    @include css3-prefix('display', 'flex')
    @include css3-prefix('flex-direction', 'row')
    @include css3-prefix('flex-wrap', 'wrap')

    li
      font-weight: bold
      @include font-size(9)
      color: $color-global-white

      @include bp-1024-landscape()
        @include font-size(8)

      @include bp-1023()
        @include font-size(8)

      @include bp-767()
        @include font-size(8)

  .teams-standing__cell
    padding: 0
    line-height: 1em

.teams-standing__cell
  line-height: 30px
  margin: 0
  @include css3-prefix('flex', '0 0 10%')
  @include css3-prefix('align-self', 'center')
  padding: .5em 0

.teams-standing__cell--position
  text-align: right
  color: $color-global-black
  @include css3-prefix('flex', '0 0 9%')

.teams-standing__cell--image
  img
    display: block
    max-width: 60%
    max-height: 30px
    margin: 0 auto

    @include bp-1024-landscape()
      max-height: 24px

    @include bp-767()
      max-width: 60%
      margin: 0 auto

.teams-standing__cell--name
  font-weight: bold
  @include css3-prefix('flex', '0 0 70%')

  a
    display: block
    color: $color-global-violetblue
    text-decoration: none
    @include transition(color .5s $transition-easing-easeInOutCirc)
    cursor: pointer

    &:hover
      text-decoration: none
      color: $color-global-black

.teams-standing__cell--pts
  @include css3-prefix('flex', '0 0 8%')

.teams-standing__cell--goals,
.teams-standing__cell--wins,
.teams-standing__cell--draws,
.teams-standing__cell--losses,
.teams-standing__cell--played
  display: none
  text-align: center

/* ROW */
.teams-standing__row
  background: $color-global-white
  ul
    display: block
    @include css3-prefix('display', 'flex')
    @include css3-prefix('flex-direction', 'row')
    @include css3-prefix('flex-wrap', 'wrap')

    li
      @include font-size(9)

      @include bp-1024-landscape()
        @include font-size(8)

      @include bp-1023()
        @include font-size(8)

      @include bp-767()
        @include font-size(8)

      &:nth-child(5n+0),
      &:nth-child(7n+0),
      &:nth-child(9n+0)
        background: transparentize( lighten( $color-global-black, 90% ), .8)

      &:nth-child(6n+0),
      &:nth-child(8n+0)
        background: transparentize( lighten( $color-global-black, 95% ), .4)

  &:nth-child(odd)
    background: $color-global-light-violetblue

    ul
      li
        &:nth-child(5n+0),
        &:nth-child(7n+0),
        &:nth-child(9n+0)
          background: transparentize( $color-global-violetblue, .95)

        &:nth-child(6n+0),
        &:nth-child(8n+0)
          background: transparentize( $color-global-violetblue, .85)

/* FULL */
.teams-standing__full
  .teams-standing__cell--goals,
  .teams-standing__cell--wins,
  .teams-standing__cell--draws,
  .teams-standing__cell--losses,
  .teams-standing__cell--played
    display: block
    @include css3-prefix('flex', '0 0 8%')
  
  .teams-standing__cell--position
    @include css3-prefix('flex', '0 0 6%')

  .teams-standing__cell--name
    @include css3-prefix('flex', '0 0 39%')

    @include bp-767()
      @include css3-prefix('flex', '0 0 76%')

  .teams-standing__cell--pts
    @include css3-prefix('flex', '0 0 5%')
  
  .teams-standing__cell--goals,
  .teams-standing__cell--played,
  .teams-standing__cell--wins,
  .teams-standing__cell--draws,
  .teams-standing__cell--losses
    display: block

    @include bp-767()
      display: none