.team-detail
  @include clearfix()


teams-detail-global
  @include clearfix()
  @include css3-prefix('display', 'flex')
  @include css3-prefix('justify-content', 'center')
  margin: 0 auto 3em
  padding-top: 20px
  width: 100%
  
  figure
    @include css3-prefix('flex', '0 0 6%')
    margin: 0 5%

    img
      display: block
      width: 100%
      min-width: 76px

      @include bp-1023()
        min-width: 65px

      @include bp-767()
        min-width: 55px

  .team-detail__infos
    @include css3-prefix('flex', '0 0 auto')

    h4
      @include font-size(16)
      line-height: 1em
      margin: 0 0 .2em

      @include bp-1024-landscape()
        @include font-size(16)
        
      @include bp-1023()
        @include font-size(16)

      @include bp-767()
        @include font-size(12)

    h5
      @include font-size(9)
      color: $color-global-darkliver
      line-height: 1em
      margin: 0 0 1em

      @include bp-1024-landscape()
        @include font-size(8)
        
      @include bp-1023()
        @include font-size(8)

      @include bp-767()
        @include font-size(7)

.teams-details__info-marketvalue
  @include font-size(10)
  line-height: 1em
  margin: 0 0 .2em

  @include bp-1024-landscape()
    @include font-size(8)
    
  @include bp-1023()
    @include font-size(8)

  @include bp-767()
    @include font-size(7)

teams-detail-players,
teams-detail-fixtures
  margin-bottom: 2em
  display: block

teams-detail-players

  h4
    @include font-size(14)
    line-height: 1em
    margin: 0 0 1em
    text-align: center

  ul
    display: block
    clear: both

    li.teams-player__header,
    li.teams-player__row
      @include css3-prefix('display', 'flex')
      @include css3-prefix('flex-direction', 'row')
      @include css3-prefix('flex-wrap', 'wrap')

    li.teams-player__group
      strong
        display: block
        @include font-size(9)
        padding: .5em
        border-top: 1px $color-global-lightliver solid
        border-bottom: 1px $color-global-lightliver solid

        @include bp-1023()
          @include font-size(7)

        @include bp-767()
          @include font-size(7)

.teams-player__header
  background: $color-global-violetblue
  padding: .5em 0

  span
    color: $color-global-white
    font-weight: bold

  .teams-player__cell--market-value
    padding: 0 1% 0 0 !important

.teams-player__row
  background: $color-global-white

  span
    padding: .5em 0

    &:nth-child(5n+0),
    &:nth-child(7n+0),
    &:nth-child(9n+0)
      background: transparentize( lighten( $color-global-black, 90% ), .8)

    &:nth-child(6n+0),
    &:nth-child(8n+0)
      background: transparentize( lighten( $color-global-black, 95% ), .4)

  &:nth-child(odd)
    background: $color-global-light-violetblue

    span
      &:nth-child(5n+0),
      &:nth-child(7n+0),
      &:nth-child(9n+0)
        background: transparentize( $color-global-violetblue, .95)

      &:nth-child(6n+0),
      &:nth-child(8n+0)
        background: transparentize( $color-global-violetblue, .85)

.teams-player__cell
  @include css3-prefix('align-self', 'center')
  text-align: center

  @include font-size(9)
  
  @include bp-1024-landscape()
    @include font-size(8)

  @include bp-1023()
    @include font-size(7)

  @include bp-767()
    @include font-size(7)

.teams-player__cell--number
  @include css3-prefix('flex', '0 0 5%')
  text-align: right

  @include bp-767()
    @include css3-prefix('flex', '0 0 7%')

.teams-player__cell--flag
  @include css3-prefix('flex', '0 0 7%')
  @include font-size(9)
  padding: 0 !important

.teams-player__cell--name
  @include css3-prefix('flex', '0 0 40%')
  text-align: left

  @include bp-767()
    @include css3-prefix('flex', '0 0 78%')

.teams-player__cell--age
  @include css3-prefix('flex', '0 0 8%')

.teams-player__cell--birthday
  @include css3-prefix('flex', '0 0 14%')

.teams-player__cell--contract
  @include css3-prefix('flex', '0 0 20%')

.teams-player__cell--market-value
  @include css3-prefix('flex', '0 0 19%')
  padding: .5em 1% .5em 0 !important
  text-align: right

.teams-player__cell--contract,
.teams-player__cell--market-value
  @include bp-767()
    display: none

teams-detail-fixtures
  h4
    @include font-size(14)
    line-height: 1em
    margin: 0 0 1em
    text-align: center

  ul
    display: block

    li
      @include css3-prefix('display', 'flex')
      @include css3-prefix('flex-direction', 'row')
      @include css3-prefix('flex-wrap', 'wrap')

.teams-fixture__header
  background: $color-global-violetblue
  padding: .5em 0

  span
    color: $color-global-white
    font-weight: bold

.teams-fixture__row
  background: $color-global-white
  color: $color-global-lightliver

  span
    padding: .5em 0

  a
    color: $color-global-violetblue
    text-decoration: none
    @include transition(color .5s $transition-easing-easeInOutCirc)
    cursor: pointer

    &:hover,
    &.active
      text-decoration: none
      color: $color-global-black
    &.active
      cursor: default


  &:nth-child(odd)
    background: $color-global-light-violetblue

    &[data-status="scheduled"]
      a
        color: $color-global-lightliver

  &[data-status="scheduled"]
    a
      color: $color-global-light-violetblue
      pointer-events: none

  &[data-status="finished"]
    color: $color-global-black

  &[data-status="postponed"],
  &[data-status="timed"]
    color: $color-global-terracotta

    &:after
      display: block
      content: " (" attr(title) ")"
      @include css3-prefix('display', 'flex')
      @include css3-prefix('align-self', 'center')
      text-transform: uppercase
      position: absolute
      right: 2%

      @include bp-1024-landscape()
        @include font-size(6)
        
      @include bp-1023()
        @include font-size(6)

      @include bp-767()
        display: none

.teams-fixture__cell
  @include css3-prefix('flex', '0 0 14%')
  @include css3-prefix('align-self', 'center')
  text-align: center

  @include font-size(9)

  @include bp-1024-landscape()
    @include font-size(8)
    
  @include bp-1023()
    @include font-size(7)

  @include bp-767()
    @include font-size(7)

.teams-fixture__cell--matchday
  @include css3-prefix('flex', '0 0 9%')

  @include bp-767()
    display: none

.teams-fixture__cell--date
  @include css3-prefix('flex', '0 0 20%')
  text-align: left

  @include bp-767()
    text-align: center

.teams-fixture__cell--time
  @include css3-prefix('flex', '0 0 7%')

  @include bp-767()
    display: none

.teams-fixture__cell--match
  @include css3-prefix('display', 'flex')
  @include css3-prefix('justify-content', 'center')
  @include css3-prefix('flex', '0 0 64%')

  @include bp-767()
    @include css3-prefix('flex', '0 0 80%')

.teams-fixture__cell--match__team,
.teams-fixture__cell--match__result,
.teams-fixture__cell--match__divider
  padding: 0 !important

.teams-fixture__cell--match__team
  @include css3-prefix('flex', '0 0 39%')

.teams-fixture__cell--match__team--home
  text-align: right

.teams-fixture__cell--match__team--away
  text-align: left

.teams-fixture__cell--match__team--same
  font-weight: bold
  pointer-events: none
  cursor: default

.teams-fixture__cell--match__result
  @include css3-prefix('flex', '0 0 6%')

.teams-fixture__cell--match__divider
  @include css3-prefix('flex', '0 0 2%')