<h2>About</h2>
<p>Football live app is a side project to collect data about all football leagues.</p>
<p>Data are collected by <a href="http://api.football-data.org/" title="football-data.org" target="_blank">football-data.org</a> so I'm using their API to show them in this web-app.</p>
<p>Also, it's based on <a href="https://angular.io/" title="Angular2" target="_blank">Angular2</a> written in Typescript, <a href="https://webpack.github.io/" title="Webpack" target="_blank">Webpack</a> and deployed via <a href="https://circleci.com/" title="CircleCI" target="_blank">CircleCI</a> on <a href="https://pages.github.com/" title="Github pages" target="_blank">Github Pages</a>.</p>
<p>If you find errors, typo, something missing or if you would keep in touch with me, you can email me to davide.reppucci [AT] gmail.com.</p>
<p>Cheers, Davide</p>