<form action="javascript:void(0)" autocomplete="off" class="search-league">
  <fieldset>
    
    <div class="search-league__input-wrapper">
      <input
        name="league"
        #league
        [value]="localState.leagueSearching"
        placeholder="Type league name"
        autofocus>

      <ul class="search-league__hints"><li *ngFor="let league of filteredLeagues">
          <a [routerLink]=" ['./leagues/', league.id] "
            routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
            {{league.caption}}
          </a>
        </li></ul>
    </div>

  </fieldset>
</form>